{% extends 'core/base.html' %}

{% load static %}

{% block nav %}
    <li><a href="{% url 'newUser' %}">Registrarse</a></li>
{% endblock %}

{% block content %}
    <main>

        <!--FORMULARIOS-->
        <div id="formulario" class="container white z-depth-2">
            <ul class="col s12 tabs red darken-3">
                <li class="tab col s3"><a class="white-text ">INGRESE SUS DATOS</a></li>
            </ul>
            <div id="login" class="col s12">
                <form method="POST" action="" >
                {% csrf_token %}
                    <div class="form-container">
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="email" type="text" class="validate"> <label for="text">Correo</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="password" type="password" class="validate">
                                <label for="password">Contraseña</label>
                            </div>
                        </div>
                        <br>
                        <center>
                            <button type="submit" class="waves-effect waves-light btn red darken-3">INICIAR SESION</button>
                        </center>
                    </div>
                </form>

                {% for message in messages %}
					<p id="messages">{{ message }}</p>
				{% endfor %}
            </div>
        </div>

    </main>

{% endblock %}